# Below you can include specific configuration files depending on what you want KAMP to do:

[include ./KAMP/Adaptive_Meshing.cfg]       # Zapnutí povolení konfigurace adaptivního síťování.
[include ./KAMP/Line_Purge.cfg]             # Zapnutí povolení konfigurace adaptivního pročištění linky.
# [include ./KAMP/Voron_Purge.cfg]            # Zapnutí povolení konfigurace adaptivního čištění loga Voron.
# [include ./KAMP/Smart_Park.cfg]             # Zapnutí funkce Smart Park, která zaparkuje tiskovou hlavu v blízkosti tiskové oblasti pro finální ohřev.

[gcode_macro _KAMP_Settings]
description: This macro contains all adjustable settings for KAMP 

# The following variables are settings for KAMP as a whole.
variable_verbose_enable: True               # Nastavením na hodnotu True povolíte výstup informací KAMP za běhu. To je užitečné pro ladění.

# The following variables are for adjusting adaptive mesh settings for KAMP.
variable_mesh_margin: 0                     # Expands the mesh size in millimeters if desired. Leave at 0 to disable.
variable_fuzz_amount: 0                     # Slightly randomizes mesh points to spread out wear from nozzle-based probes. Leave at 0 to disable.

# The following variables are for those with a dockable probe like Klicky, Euclid, etc.                 # ----------------  Attach Macro | Detach Macro
variable_probe_dock_enable: False           # Set to True to enable the usage of a dockable probe.      # ---------------------------------------------
variable_attach_macro: 'Attach_Probe'       # The macro that is used to attach the probe.               # Klicky Probe:   'Attach_Probe' | 'Dock_Probe'
variable_detach_macro: 'Dock_Probe'         # The macro that is used to store the probe.                # Euclid Probe:   'Deploy_Probe' | 'Stow_Probe'
                                                                                                        # Legacy Gcode:   'M401'         | 'M402'

# The following variables are for adjusting adaptive purge settings for KAMP.
variable_purge_height: 0.8                  # Poloha Z trysky při proplachování, výchozí hodnota je 0,8.
variable_tip_distance: 0                    # Vzdálenost mezi špičkou vlákna a tryskou před proplachem. Měla by být podobná konečnému zatažení PRINT_END.
variable_purge_margin: 10                   # Vzdálenost, ve které se bude proplach nacházet před tiskovou oblastí, výchozí hodnota je 10.
variable_purge_amount: 30                   # Množství filamentu, které se má před tiskem vytlačit.
variable_flow_rate: 20                      # Průtok proplachu v mm3/s. Výchozí hodnota je 12.

# Následující proměnné slouží k nastavení funkce Smart Park pro KAMP, která zaparkuje tiskovou hlavu v blízkosti tiskové oblasti v zadané výšce.
variable_smart_park_height: 10              # Poloha Z pro Smart Park, výchozí hodnota je 10.

gcode: # Gcode section left intentionally blank. Nerušit!

    {action_respond_info(" Running the KAMP_Settings macro does nothing, it is only used for storing KAMP settings. ")}
