[temperature_sensor Octopus_MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Raspberry]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Box]
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin:
#min_temp: 0
#max_temp: 100
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.